In [3]:
# Dictionary Methods

# print(dir(dict))

# 'clear', 'copy', 'fromkeys', 'get', 'items', 'keys', 'pop', 
# 'popitem', 'setdefault', 'update', 'values'

In [6]:
# Dictionary Creation

# Elemnets are already known
# d = {1:100, 20:200, 3:300}
# print(d)

# Creating an empty Dictionry
# d = {}
# print(d, type(d))

# Using dict(iterables) function
print(dict([(1, 100), (2, 200), (3, 300)]))
print(dict(((1, 100), (2, 200), (3, 300))))
print(dict(([1, 100], [2, 200], [3, 300])))
print(dict([[1, 100], [2, 200], [3, 300]]))

# enumerate, zip

for i in enumerate('Python'):
    print(i)

print(dict(enumerate('Python')))

for i in enumerate([10,20,30,40], 11):
    print(i)

# zip(ietr1, iter2, iter3...) - 

# list( (emp_id, emp_name, [1, 2, 4, 5]))


# Using eval
# d = eval(input('Enter. dictionary: '))
# print(d, type(d))

# Using dictionary comprehension
# d = {key:expr for loop [if cond]}

# d = {i:i**2 for i in range(1, 11) if i%2 == 0}
# print(d)

{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300}
{1: 100, 2: 200, 3: 300}
(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')
{0: 'P', 1: 'y', 2: 't', 3: 'h', 4: 'o', 5: 'n'}
(11, 10)
(12, 20)
(13, 30)
(14, 40)

In [7]:
emp_name = ['ABC', 'DEF', 'GHI']
# emp_id = [101, 102, 103]
emp_email = ['abc@gmail.com', 'def@yahoo.com', 'ghi@hotmail.com']


for i in zip(emp_email, emp_name):
    print(i)


# dict(zip(emp_name, emp_email))


# print(list(enumerate(emp_name, 10001)))



# write_data(tpl)

('abc@gmail.com', 'ABC')
('def@yahoo.com', 'DEF')
('ghi@hotmail.com', 'GHI')

In [ ]:
emp_id emp_name
001      PQR
002      STU
003      VWX
...
100      YZA
101      ABC
102      DEF
103      GHI

In [44]:
# from sys import getsizeof
# lst = [i for i in range(10000)]
# print(lst, getsizeof(lst))

In [43]:
# from sys import getsizeof
# lst = (i for i in range(10000))
# print(lst, getsizeof(lst))
# for i in lst:
#     print(i)

In [53]:
import seaborn as sns
data = sns.load_dataset('tips')
data.shape

(244, 7)

In [54]:
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [69]:
# total_bill_lst = list(data.total_bill)
# total_bill_lst

# tip_lst = list(data.tip)
# tip_lst

# for i in range(len(total_bill_lst)):
#     sum_total_bil_tip = total_bill_lst[i] + tip_lst[i]
#     print(sum_total_bil_tip)

# map(lambda tpl:sum(tpl),zip(total_bill_lst, tip_lst))

In [ ]:
# 'copy',  
#

In [71]:
emp_info = {'emp_1':['Abhishek', 101, 'BLR'],
            'emp_2':['Krishna', 102, 'CHN'],
            'emp_3':['Rahul', 103, 'HYD', 90909090],
            'emp_4':['Rajat', 104, 'LKO'],
            ('emp_5',):['Rakesh', 105, 'KOL']}

In [72]:
# dict.clear() - remove all the elements from the dictionary
# leaves the empty dictionary behind
# Returns None


emp_info.clear()
print(emp_info)

{}

In [76]:
# dict.fromkeys(iterable, default = None)

# dict.fromkeys(iterable)
# {iterable[0]:None, iterable[1]:None, iterable[2]:None, ...}

# dict.fromkeys(iterable, value)
# {iterable[0]:value, iterable[1]:value, iterable[2]:value, ...}

# d = {}
# d = d.fromkeys('Python')
# print(d)

# d = {}
# d = d.fromkeys('Python', [1, 2, 3])
# print(d)

In [8]:
emp_info = {'emp_1':['Abhishek', 101, 'BLR'],
            'emp_2':['Krishna', 102, 'CHN'],
            'emp_3':['Rahul', 103, 'HYD', 90909090],
            'emp_4':['Rajat', 104, 'LKO'],
            ('emp_5',):['Rakesh', 105, 'KOL']}

# print(emp_info['emp_9'])



# d.get(key, default = None)
# Used to access the value associated with a key
# It does not update the dictionary

# d.get(key)
# If key is avaiable then rreturns Value else returns None
# print(emp_info.get('emp_4'))
# print(emp_info.get('emp_9'))

# d.get(key, value)
# If key is avaiable then rreturns Value else returns value as output
# but does not update the dictionary

print(emp_info.get('emp_4', 'Not available'))
print(emp_info.get('emp_9', 'Not available'))

['Rajat', 104, 'LKO']
Not available

In [9]:
# d.setdefault(key, default = None)
# Used to access the value associated with a key
# It updates the dictionary if key is not present

# d.setdefault(key)
# If key is avaiable then returns Value else returns None and 
# updates the dictionary with key:None

print(emp_info.setdefault('emp_4'))
print(emp_info)
print(emp_info.setdefault('emp_9'))
print()
print(emp_info)

# d.setdefault(key, value)
# If key is avaiable then rreturns Value else returns value as output
# but does not update the dictionary

# print(emp_info.setdefault('emp_4', []))
# print(emp_info)
# print()
# print(emp_info.setdefault('emp_8', []))
# print(emp_info)

['Rajat', 104, 'LKO']
{'emp_1': ['Abhishek', 101, 'BLR'], 'emp_2': ['Krishna', 102, 'CHN'], 'emp_3': ['Rahul', 103, 'HYD', 90909090], 'emp_4': ['Rajat', 104, 'LKO'], ('emp_5',): ['Rakesh', 105, 'KOL']}
None

{'emp_1': ['Abhishek', 101, 'BLR'], 'emp_2': ['Krishna', 102, 'CHN'], 'emp_3': ['Rahul', 103, 'HYD', 90909090], 'emp_4': ['Rajat', 104, 'LKO'], ('emp_5',): ['Rakesh', 105, 'KOL'], 'emp_9': None}

In [92]:
emp_info = {'emp_1':['Abhishek', 101, 'BLR'],
            'emp_2':['Krishna', 102, 'CHN'],
            'emp_3':['Rahul', 103, 'HYD', 90909090],
            'emp_4':['Rajat', 104, 'LKO'],
            ('emp_5',):['Rakesh', 105, 'KOL']}

print(list(emp_info.keys())[0])
print()
print(emp_info.values())
print()
print(emp_info.items())

emp_1

dict_values([['Abhishek', 101, 'BLR'], ['Krishna', 102, 'CHN'], ['Rahul', 103, 'HYD', 90909090], ['Rajat', 104, 'LKO'], ['Rakesh', 105, 'KOL']])

dict_items([('emp_1', ['Abhishek', 101, 'BLR']), ('emp_2', ['Krishna', 102, 'CHN']), ('emp_3', ['Rahul', 103, 'HYD', 90909090]), ('emp_4', ['Rajat', 104, 'LKO']), (('emp_5',), ['Rakesh', 105, 'KOL'])])

In [97]:
# d.pop(key, [val])
# It removes the key value pair for specified key and return only the value

# d.pop(key)
# It removes the key value pair for specified key and return only the value
# If key is not present then returns an error

emp_info = {'emp_1':['Abhishek', 101, 'BLR'],
            'emp_2':['Krishna', 102, 'CHN'],
            'emp_3':['Rahul', 103, 'HYD', 90909090],
            'emp_4':['Rajat', 104, 'LKO'],
            ('emp_5',):['Rakesh', 105, 'KOL']}
# print(emp_info.pop('emp_1'))
# print()
# print(emp_info)

# print(emp_info.pop('emp_9'))



# d.pop(key, val)
# It removes the key value pair for specified key and return only the value
# If key is not present then return val as output
# emp_info = {'emp_1':['Abhishek', 101, 'BLR'],
#             'emp_2':['Krishna', 102, 'CHN'],
#             'emp_3':['Rahul', 103, 'HYD', 90909090],
#             'emp_4':['Rajat', 104, 'LKO'],
#             ('emp_5',):['Rakesh', 105, 'KOL']}

# print(emp_info.pop('emp_1', 'NA'))
# print(emp_info.pop('emp_9', 'NA'))

In [102]:
# d.popitem() - By default removes the last entry from the dictionary
# Returns the key-value pair

emp_info = {'emp_1':['Abhishek', 101, 'BLR'],
            'emp_2':['Krishna', 102, 'CHN'],
            'emp_3':['Rahul', 103, 'HYD', 90909090],
            'emp_4':['Rajat', 104, 'LKO'],
            'emp_1':['Rakesh', 105, 'KOL']}
print(emp_info)
print()
print(emp_info.popitem())
print()
print(emp_info)

{'emp_1': ['Rakesh', 105, 'KOL'], 'emp_2': ['Krishna', 102, 'CHN'], 'emp_3': ['Rahul', 103, 'HYD', 90909090], 'emp_4': ['Rajat', 104, 'LKO']}

('emp_4', ['Rajat', 104, 'LKO'])

{'emp_1': ['Rakesh', 105, 'KOL'], 'emp_2': ['Krishna', 102, 'CHN'], 'emp_3': ['Rahul', 103, 'HYD', 90909090]}

In [11]:
# main_dict.update(sub_dict) - similar to extend method in list
# sub_dict will be updates in main_dict
# sub_dict will remain unchanged
# return None

emp_info = {'emp_1':['Abhishek', 101, 'BLR'],
            'emp_2':['Krishna', 102, 'CHN'],
            'emp_3':['Rahul', 103, 'HYD', 90909090],
            'emp_4':['Rajat', 104, 'LKO'],
            'emp_1':['Rakesh', 105, 'KOL']}

d = {1:100, 2:200, 3:300}
print(emp_info.update(d))
print(emp_info.popitem())
print(d)

None
(3, 300)
{1: 100, 2: 200, 3: 300}

In [ ]:
# Aliasing
# Shallow copy
# Deep copy

In [10]:
# Rename a dictionary key
                                     # mydict[k_new] = mydict.pop(k_old)
#     This will move the item to the end of the dict, unless k_new was already existing in which case it will overwrite 
#     the value in-place. always adds to the end of dict.

a_dict = {"a": 1, "B": 2, "C": 3}

new_key = "A"
old_key = "a"
a_dict[new_key] = a_dict.pop(old_key)

print(a_dict)

{'B': 2, 'C': 3, 'A': 1}

In [ ]:
Using a check for newkey!=oldkey, this way we can also do:

if newkey!=oldkey:  
    dictionary[newkey] = dictionary[oldkey]
    del dictionary[oldkey]