In [ ]:
# map, sum, max, min, prod

In [ ]:
# map(func, iterable)
# map object
# list, for - for realization of the values

In [6]:
lst = [10,11,12,13,14,15,16,17,18,19,20]
# list of square of each element from lst
print(list(map(lambda num: num**2, lst)))
list(filter(lambda num:num*2, lst))

[100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [8]:
lst_email = ['support@domain.com',
'sales@domain.com',
'info@domain.com',
'careers@domain.com',
'enquiries@domain.com',
'news@domain.com' ]

# 1. Find the user name of each email id 
print(list(map(lambda ID: ID.split('@')[0] ,lst_email)))

['support', 'sales', 'info', 'careers', 'enquiries', 'news']

In [18]:
lst_email = ['support@domain.com',
'sales@domain.com',
'info@domain.com',
'careers@domain.com',
'enquiries@domain.com',
'news@domain.com' ]

lst_id = [101, None, 901, 899, None, None]

# 2. foind the user name of all those email id where id is not None

a = filter(lambda email:lst_id[lst_email.index(email)], lst_email)
list(map(lambda email:email.split('@')[0], a))

['support', 'info', 'careers']

In [9]:
lst_email = ['support@domain.com',
'sales@domain.com',
'info@domain.com',
'careers@domain.com',
'enquiries@domain.com',
'news@domain.com' ]

lst_id = [101, None, 901, 899, None, None]

list(filter(lambda email: not lst_id[lst_email.index(email)],lst_email))

['sales@domain.com', 'enquiries@domain.com', 'news@domain.com']

In [16]:
lst_email = ['support@domain.com',
'sales@domain.com',
'info@domain.com',
'careers@domain.com',
'enquiries@domain.com',
'news@domain.com' ]

lst_id = [101, None, 901, 899, None, None]

a = filter(lambda email:lst_id[lst_email.index(email)], lst_email)
# list(a)

In [28]:
# Finding the aggregate value - reduce
# 3.5 - functolls
# sum, max, min, prod
# from math import prod
# lst = [10,11,12,13,14,15,16,17,18,19,20]
# print(sum(lst))
# print(max(lst))
# print(min(lst))
# print(prod(lst))


# reduce - returns a single value after aggregating
# has to be imported from functools module
# reduce(func, iterable)
from functools import reduce
lst = [10,11,12,13,14,15,16,17,18,19,20]
print(reduce(lambda x, y:x+y, lst))
print(reduce(lambda x, y:x*y, lst))
# print(reduce(lambda x, y : x>y, lst))
from functools import reduce 

lst = [10,11,12,13,14,15]

reduce (lambda x,y:x+y,lst) 

reduce (lambda x,y: (y if x>y else x),lst)
reduce (lambda x,y: (y if x<y else x),lst)

# x = 46
# y = 14
# x+y = 60

165
6704425728000

15

In [20]:
# print(dir(__builtins__))

In [ ]:
# Iterators and Iterables

In [39]:
# Iterable - any object which implements __iter__

# print(dir(int))
# for i in 10:
#     print(i)

# print(dir(10+20j))
# for i in 10+20j:
#     print(i)

# print(dir(str))
# for i in 'Python':
#     print(i)

# print(dir(list))

# print(dir(tuple))

# print(dir(dict))

# print(dir(set))

In [44]:
# Iterator - any object which implements __iter__ and __next__
# All iterator are iterables but all iterables are not iterators

# print(dir(filter))

# print(dir(map))

# print(dir(enumerate))

# print(dir(zip))

# print(dir(list)) # not an iterator

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [52]:
# Ietartors are memory efficient
# from sys import getsizeof
# lst = [i for i in range(1000)]
# print(lst, getsizeof(lst))

# tpl = (i for i in range(1000))
# print(tpl, getsizeof(tpl))
# for i in tpl:
#     print(i)




# Iterators are faster

def f1():
    a = [i for i in range(1000000)]
    return a

%timeit f1

40.2 ns ± 13.1 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [51]:
def f1():
    a = 10
    b = 20

In [55]:
def f1():
    a = (i for i in range(1000000))
    return a

%timeit f1

31 ns ± 2.71 ns per loop (mean ± std. dev. of 7 runs, 10000000 loops each)

In [60]:
# Realization of the value inside the iterator

# list(enumerate('Python'))

# for i in enumerate('Python'):
#     print(i)

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [68]:
a = enumerate('Python')
# print(next(a))
# print(next(a))
# print(next(a))
# print(next(a))
# print(next(a))
# print(next(a))
# print(next(a))

for i in a:
    print(i)
print()
a = enumerate('Python')
for j in a:
    print(j)

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [66]:
b = [10,20,30,40]
for i in b:
    print(i)
for j in b:
    print(j)

10
20
30
40
10
20
30
40

In [70]:
# Lazy evaluation

a = enumerate('Python')
print(next(a))
print(next(a))


lst = [10, 90, 80, 99, 89, 0, 10, 23, 10, ]

(0, 'P')
(1, 'y')

In [71]:

my_iter = iter(lst)
for a in my_iter:
    if a == 0:
        break
    else:
        print(a)

10
90
80
99
89

In [72]:
a = enumerate('Python')
for i in a:
    print(i)

(0, 'P')
(1, 'y')
(2, 't')
(3, 'h')
(4, 'o')
(5, 'n')

In [75]:
import seaborn as sns
data = sns.load_dataset('tips')
data.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [78]:
for i in iter(data.tip):
    print(i)

1.01
1.66
3.5
3.31
3.61
4.71
2.0
3.12
1.96
3.23
1.71
5.0
1.57
3.0
3.02
3.92
1.67
3.71
3.5
3.35
4.08
2.75
2.23
7.58
3.18
2.34
2.0
2.0
4.3
3.0
1.45
2.5
3.0
2.45
3.27
3.6
2.0
3.07
2.31
5.0
2.24
2.54
3.06
1.32
5.6
3.0
5.0
6.0
2.05
3.0
2.5
2.6
5.2
1.56
4.34
3.51
3.0
1.5
1.76
6.73
3.21
2.0
1.98
3.76
2.64
3.15
2.47
1.0
2.01
2.09
1.97
3.0
3.14
5.0
2.2
1.25
3.08
4.0
3.0
2.71
3.0
3.4
1.83
5.0
2.03
5.17
2.0
4.0
5.85
3.0
3.0
3.5
1.0
4.3
3.25
4.73
4.0
1.5
3.0
1.5
2.5
3.0
2.5
3.48
4.08
1.64
4.06
4.29
3.76
4.0
3.0
1.0
4.0
2.55
4.0
3.5
5.07
1.5
1.8
2.92
2.31
1.68
2.5
2.0
2.52
4.2
1.48
2.0
2.0
2.18
1.5
2.83
1.5
2.0
3.25
1.25
2.0
2.0
2.0
2.75
3.5
6.7
5.0
5.0
2.3
1.5
1.36
1.63
1.73
2.0
2.5
2.0
2.74
2.0
2.0
5.14
5.0
3.75
2.61
2.0
3.5
2.5
2.0
2.0
3.0
3.48
2.24
4.5
1.61
2.0
10.0
3.16
5.15
3.18
4.0
3.11
2.0
2.0
4.0
3.55
3.68
5.65
3.5
6.5
3.0
5.0
3.5
2.0
3.5
4.0
1.5
4.19
2.56
2.02
4.0
1.44
2.0
5.0
2.0
2.0
4.0
2.01
2.0
2.5
4.0
3.23
3.41
3.0
2.03
2.23
2.0
5.16
9.0
2.5
6.5
1.1
3.0
1.5
1.44
3.09
2.2
3.48
1.92
3.0
1.58
2.5
2.0
3.0
2.72
2.88
2.0
3.0
3.39
1.47
3.0
1.25
1.0
1.17
4.67
5.92
2.0
2.0
1.75
3.0

In [91]:
def f1(a, b, c, k =9):
    return a+b+c

lst = [10, 20, 30]
f1(*lst)

60

In [85]:
# a, b, c = lst
# a

In [95]:
a = [10.98, 89.09, 78.99]
b = map(round, a)
f1(b, 9)

TypeError: f1() missing 1 required positional argument: 'c'

In [96]:
print(*b)

11 89 79

In [100]:
# Generator - 

# Tuple comprehension
# def - yield

# a = (i for i in range(10))
# print(a)


def my_gen():
    print('Hi')
    print(10+20)
    print(10+20j)
#     yield 10
#     yield 20.30
#     yield 40+50j
#     yield None
#     yield 'Python'
#     yield [1, 2, 3]
    
for i in my_gen():
    print(i)

Hi
30
(10+20j)

TypeError: 'NoneType' object is not iterable

In [102]:
def test():
    print("first comment")
    yield "First yield"
    
    print("Second print statement")
    yield "second yield"

for i in test():
    print(i)

<generator object test at 0x12605f580>
first comment
First yield
Second print statement
second yield